@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  padding: 20px;
  display: flex;
  font-size: 20px;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.navbar span {
  color: blue;
}

.navbar .links {
  margin-left: auto;
  margin-right: 50px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar {
  display: flex;
  justify-content: center;
}